<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276124433827-8lcvgpsj0fvflo81b0vsu9qpqeqmb8qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276124433827-8lcvgpsj0fvflo81b0vsu9qpqeqmb8qg</string>
	<key>API_KEY</key>
	<string>AIzaSyDytRwdYZ5nD7YB3xYWHUrF8yvXKB7-lMw</string>
	<key>GCM_SENDER_ID</key>
	<string>276124433827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseproject</string>
	<key>PROJECT_ID</key>
	<string>fir-project-4cfe7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-4cfe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276124433827:ios:c5436d7b5d3cb4c83dee16</string>
</dict>
</plist>